<link rel="stylesheet" href="/public/css/users/users.css">

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-md-offset-2">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel-body">
                            <div class="register">
                                <form class= "form-horizontal" action="/stores/signup" method="post" id="login-form">

                                    <div class="form-group">
                                    <label class="control-label">Store Name:</label>
                                    <div>
                                    <input type="text" name="storeName" class="form-control" placeholder="Store Name" required>
                                    </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="control-label">Address:</label>
                                    <div>
                                    <input type="text" name="address" class="form-control" placeholder="Address" required>
                                    </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="control-label">Phone:</label>
                                    <div>
                                    <input type="text" name="phone_no" class="form-control" placeholder="Phone" required>
                                    </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="control-label">Email:</label>
                                    <div>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
                                    <div id="emailID_alert"></div>
                                    </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="control-label">Password:</label>
                                    <div>
                                    <input type="password"  class="form-control" name="password" placeholder="password" required>
                                    </div>
                                    </div>

                                    <div class="form-group text-center">
                                    <button type="submit" id="signup" class="button button4">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/registerStore.js"></script>