  <link rel="stylesheet" href="/public/css/users/store.css">
  <h1>{{ stores.storeName }}</h1>
  <h2>Address</h2>
  <p>{{ stores.address }}</p>
  <h2>Phone</h2>
  <p>{{stores.phone_no}}</p>
  <h2>Email</h2>
  <p>{{stores.email}}</p>

  