<main>
    <link rel="stylesheet" href="/public/css/users/store.css">
<h1>Register for New Store</h1>
    
    <div class="stores">
    <form action="/stores" method="POST" id = "signup-form">
    
    <div class="form-group">
    <label>
        Store Name
        <input type="text" class="form-control" name="storeName" placeholder="Store Name" value="{{stores.storeName}}"/>
    </label>
    </div>

    <div class="form-group">
    <label>
        Store Address
        <input type="text" class="form-control" name="address" placeholder="Store Address" value="{{stores.address}}"/>
    </label>
    </div>

    <div class="form-group">
    <label>
        Phone Number
        <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="{{stores.phone_no}}"/>
    </label>
    </div>

    <div class="form-group">
    <label>
        Email
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{stores.email}}"/>
    </label>
    </div>
    <button type="submit" class="button button4">Update</button>

</form>
</div>
</main>