<link rel="stylesheet" href="/public/css/products/prod.css">
<div class="product">
  <h1>{{ prod.Pname }}</h1>
  <h2>Ingredients</h2>
  <p>{{ prod.ingredients }}</p>
  {{#if prod.feedback.length}}
    <h3>feedback</h3>
    <ul>
      {{#each prod.feedback}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

<form action="/prod/delete/{{prod._id}}" method="POST">
    <button type="submit" class="button button4">Drop!</button>
  </form>