<h1>Add feedback</h1>
<form action="/prod/addComment/{{id}}" method="POST">
    <label>
        Feedback
        <input type="text" name="comment" placeholder="Feedback" value="{{prod.comment}}"/>
    </label>
    <button type="submit">Add!</button>
</form>
{{#if hasErrors}}
<ul>
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}