<link rel="stylesheet" href="/public/css/products/prod.css">
<h1>searchResult</h1>
  {{#each prods}}  
    <article class="prod">
      <div class="col-md-10 col-md-offset-1" style="background-color: white; margin-bottom:20px">
        <h2><a href="/prod/id/{{_id}}">{{Pname}}</a></h2>
        <p>{{description}}</p>
      </div>
    </article>
  {{/each}}