
/* header */
header { background-color: rgb(255, 231, 214);display: block;min-height: 50px; }
header a { font-size: 1.5rem;padding: 10px 0; }
header i.fa { font-size: 1.8rem;margin-right:0rem }

.search-container{
    align-self: auto;
}

li {
    display: inline;
  }

/* body */
.center{
    align-self: auto;
    color: rgb(83, 59, 59)
}

h1{
    align-self: auto;
}

.success {
    color: #28a745;
}

.error {
    color: #dc3545;
}

/* footer */
footer p { color:rgb(36, 32, 32);font-size: 1.3rem;text-align: justify; }
