<link rel="stylesheet" href="/public/homepage.css">

    <div class="col-md-16">
	<img src="/public/images/allergyaid_coverimage.jpg" alt="Allergy Aid" align="middle" width="850" height="450"/>
    </div>
