.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
  }

  .button4 {border-radius: 12px;}

  .login{
    padding: 15px 100px;
    width: 100%;
}
.form-horizontal .control-label{
    padding-top: 6px;
}

body{
background-image: url(/public/css/images/users.jpg);
}


 