
<!-- Information About Website -->
<link rel="stylesheet" href="/public/css/homepage.css">
<p>
Allergy Aid is an ecommerce website. This website allows different customers to sign up and search specific food 
products based on their medical condition. In this website user can search and find necessary information about 
any grocery item, can proceed to checkout to buy products. User can create an account, update personal 
information, delete items from their cart and give comments as a feedback.
</p>