<main>
    <!--div>
        <form action="/users" method="post" id="login-form">
            <label>Username:</label>
            <input type="text" name="username">
            <br>
            <label>Password:</label>
            <input type="password" name="password">
            <br>
            <p>{{errors}}</p>
            <input type="submit"  id="b1">
        </form>
    </div-->
    <link rel="stylesheet" href="/public/css/users/users.css">
    <div class="login">
        <form class= "form-horizontal" action="/users" method="post" id="login-form">

            <div class="form-group">
            <label class="control-label col-xs-2">Username:</label>
            <div class="col-xs-10">
            <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Password:</label>
            <div class="col-xs-10">
            <input type="password"  class="form-control" name="password" placeholder="Password">
            </div>
            </div>

            <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="button button4">Login</button>
            </div>
            </div>
        </form>
    </div>
</main>