<main>
    <link rel="stylesheet" href="/public/css/users/users.css">
    <!--div>
        <form action="/users" method="post" id="signup-form">
            <label>First Name:</label>
            <input type="text" name="fname">
            <br>
            <label>Last Name:</label>
            <input type="text" name="lname">
            <br>
            <label>Email:</label>
            <input type="email" name="email">
            <br>
            <label>Password:</label>
            <input type="password" name="password">
            <br>
            <label>Address:</label>
            <input type="text" name="address">
            <br>
            <label>Allergies:</label>
            <input type="text" name="allergy">
            <br>
            <p>{{errors}}</p>
            <input type="submit"  id="b1">
        </form>
    </div-->
    <div class="register">

        <form class= "form-horizontal" action="/users" method="post" id="login-form">

            <div class="form-group">
            <label class="control-label col-xs-2">First Name:</label>
            <div class="col-xs-10">
            <input type="text" name="fname" class="form-control" placeholder="First name">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Last Name:</label>
            <div class="col-xs-10">
            <input type="text" name="lname" class="form-control" placeholder="Last name">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Email:</label>
            <div class="col-xs-10">
            <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Password:</label>
            <div class="col-xs-10">
            <input type="password"  class="form-control" name="password" placeholder="password">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Address:</label>
            <div class="col-xs-10">
            <input type="text" name="address" class="form-control" placeholder="Address">
            </div>
            </div>

            <div class="form-group">
            <label class="control-label col-xs-2">Allergy:</label>
            <div class="col-xs-10">
            <input type="text" name="allergy" class="form-control" placeholder="Allergy">
            </div>
            </div>

            <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="button button4">Register</button>
            </div>
            </div>

        </form>
    </div>
</main>