<main>
    <div>
        <form action="/users" method="post" id="signup-form">
            <label>First Name:</label>
            <input type="text" name="fname">
            <br>
            <label>Last Name:</label>
            <input type="text" name="lname">
            <br>
            <label>Email:</label>
            <input type="email" name="email">
            <br>
            <label>Password:</label>
            <input type="password" name="password">
            <br>
            <label>Address:</label>
            <input type="text" name="address">
            <br>
            <label>Allergies:</label>
            <input type="text" name="allergy">
            <br>
            <p>{{errors}}</p>
            <input type="submit"  id="b1">
        </form>
    </div>
</main>